body {
    font-size: 18px;
    line-height: 1.5;
    margin: 30px;
    border-bottom: 5px solid #222222;
    border-top: 5px solid #222222;
    padding: 50px;
    background: #F6F6F6;
}

.commonstyles {
  font-family: sans-serif;
}

.commonstyles a {
  cursor: pointer;
}

.commonstyles small {
}

.commonstyles strong {

}


.commonstyles h2 {
}

.commonstyles h3 {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 42px;
}

.commonstyles h4 {
  margin-bottom: 0;
}

.commonstyles p {
  margin-bottom: 27px;
  font-family: Georgia;
}

.commonstyles ul {
  list-style: square;
}

.commonstyles ul p {

}

.commonstyles li {

}

.commonstyles hr {
  border: none;
  border-top: 1px solid #222222;
  margin: 30px 0;
}

.commonstyles img {
  margin-left: 20px;
  margin-bottom: 20px;
  border: 1px solid #222222;
  padding: 5px;
  text-align: center
}

.commonstyles img[alt] {
  float: right;
}

.toc {
  max-width: 300px;
  float: right;
  margin: 0 0 20px 20px;
  font-family: sans-serif;
}

.toc .toclevel-1 {
  font-size: 14px;
}

.toc .toclevel-1 > a {
  font-weight: bold;
}

.toc .toclevel-2 {
   font-size: 13px;
}

.toc .toclevel-2 > a {
  color: #3344aa;
}

td:first-child {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
}

.datatable td {
  padding: 8px 14px;
  font-family: sans-serif;
}
