/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Work Sans', sans-serif;
}

ul {
	margin: 0;
	padding: 0;
}

h1 {
	font-weight: 700;
}

#menu-toggle {
	position: fixed;
	padding: 25px;
	
}

	#menu-toggle a {
		text-decoration: none;
		color: #FF8127;	
		font-size: 36px;
	}

.popappsSection .row {
	margin: 0 -10px;
}

.enjoyThese .row {
	margin: 0 -10px;
}


.container {
	max-width: 960px;
	width: 100%;
	margin: 0 auto;
}

.hero {
	background: url('../img/herobackground.png');
	background-size: cover;
	height: 100vh;
}

	.hero .container {
		padding: 50px;
	}

.ipad{
	background: url('../img/ipad.png');
	background-repeat: no-repeat;
	background-size: contain;
	width: 437px;
	margin: 0 auto;
}

	.ipad .inner h1 {
	    font-size: 55px;
	    margin: 0 auto;
	    margin-right: 90px;
	    padding-top: 70px;
	    padding-left: 90px;
	    line-height: 70px;
	    text-transform: uppercase;
	    color: #777777;
	}
		
		.downArrow {
			font-size: 70px;
			text-align: center;
			margin-top: 30px;
			-vendor-animation-duration: 3s;
			-vendor-animation-delay: 2s;
			-vendor-animation-iteration-count: infinite;
		}

		.downArrow a {
			color: white;
		}

	.ipad .inner h1:after {
	    content: "";
		display: block;
		background: #A5A5A5;
		width: 110px;
		height: 10px;
		margin-top: 10px;
	}

	.ipad .inner p {
		margin: 0 auto;
		padding-left: 90px;
		padding-right: 80px;
		padding-top: 25px;
		font-size: 18px;
	}

.panel {
	background: #5D658D;
	z-index: 1000;
	position: fixed;
    left: -15.625em; /*left or right and the width of your navigation panel*/
    width: 15.625em; /*should match the above value*/
}

.nav {
	background: #5D658D;
	margin-top: 25px;
}

	.nav ul li {
		padding: 25px;
		position: relative;
		list-style: none;
		cursor: default;
	}

	.nav ul li a {
		text-decoration: none;
		font-weight: 700;
		color: #fff;
	}

	.nav ul li a:hover {
		color: #FF8127;
	}

	.nav ul li a:active {
		color: #FF8127;
	}

.popappsSection {
	background: #F5F2E8;
	padding: 100px;
}

.popappsSection h1 {
	color: #777777;
	text-transform: uppercase;
	text-align: center;
	font-size: 30px;
	padding-bottom: 10px;
}

.popappsSection p, .enjoyThese p {
	text-align: center;
	font-size: 18px;
	margin-bottom: 25px;
}

.popappsSection h1:after {
	content: "";
	display: block;
	background: #A5A5A5;
	width: 110px;
	height: 10px;
	margin: 0 auto;
	margin-top: 15px;
}

.popappsSort {
	max-width: 785px;
	margin: 0 auto;
	cursor: pointer;
}

.popappsSort ul li {
	text-align: center;
	padding: 10px;
	color: white;
	letter-spacing: 2px;
	display: inline-block;
	width: 25%;
	float: left;
}

.popappsSort ul li .inner {
	font-weight: 700;
	font-size: 13px;
	border-radius: 10px;
	padding: 10px;
}

.appContainer {
	max-width: 785px;
	min-height: 720px;
	width: 100%;
	margin: 0 auto;
}

.appThumb {				
	margin: 0 auto;
	margin-bottom: 17px;
	padding: 10px;
	float: left;
	width: 25%;
}

.appThumb img {
	max-width: 100%;
}

.orange .inner {
	background: #FF8127;
}

.blue .inner {
	background: #208CF7;
}

.red .inner {
	background: #FE5F5F;
}

.green .inner {
	background: #73D655;
}

.appHeroes {
	background: url('../img/herobackground.png') no-repeat;
	background-size: cover;
	padding: 90px;
}

	.additionals {
		text-transform: uppercase;
		margin-bottom: 100px;
		margin-top: 50px;
	}

	.additionals h2 {
		text-align: center;
		color: #777777;
	}

	.additionals a {
		text-decoration: none;
		color: white;
	}

/*//////////APP HEROES/////////*/
.appHeroes .wrapper{
	float: left;
	width: 65%;
	padding-bottom: 100px;
	padding-left: 70px;
}

	.appHeroes h1 {
		text-align: center;
		text-transform: uppercase;
		font-size: 30px;
		padding-bottom: 85px;
	}

	.appHeroes h1:after {
		content: "";
	    display: block;
	    background: #A5A5A5;
	    width: 110px;
	    height: 10px;
	    margin: 0 auto;
	    margin-top: 15px;
	}

	.appHeroes h2 {
		font-size: 27px;
	}

		.appHeroes h2:after {
			content: "";
		    display: block;
		    background: #A5A5A5;
		    width: 110px;
		    height: 10px;
		    margin-top: 15px;
		}

	.appHeroes img {
		float: left;
	}

/*////////////////Stats Section///////////////*/
.stats {
	background: url('../img/statsbackground.png');
	background-size: cover;
	padding: 100px;
}

.stats h1 {
	text-align: center;
	text-transform: uppercase;
	font-size: 30px;
	padding-bottom: 18px;
	color: #FFF;
}

	.stats span {
		text-align: center;
	}

	.stats h1:after {
		content: "";
	    display: block;
	    background: #fff;
	    width: 110px;
	    height: 10px;
	    margin: 0 auto;
	    margin-top: 15px;
	}

	.stats .wrapper {
		text-align: center;
		width: 100%;
	}

		.stats .wrapper span {
			color: white;
			font-size: 24px;
		}


.statBoxWrapper {
	max-width: 730px;
	width: 100%;
	margin: 0 auto;
	margin-top: 65px;
}

.statBox {
	padding: 10px;
	text-align: center;
	color: white;
	width: 50%;
	float: left;
	max-width: 100%;
}


	.statBox .inner {
		font-size: 13px;
		border: 12px solid white;
		border-radius: 10px;
		padding: 50px 0	;
	}

		.statBox .inner h2 {
			font-size: 28px;
			margin: 0;
			padding: 10px;
		}

		.statBox .inner p {
			font-size: 40px;
			margin: 0;
			padding: 5px;
		}
	
	.stats .row {
		margin: 0 -50px;
	}

	.orange .inner {
		background: #FF8127;
	}

	.apple .inner {
		background: #208CF7;
	}

	.amazon .inner {
		background: #FE5F5F;
	}

	.windows .inner {
		background: #73D655;
	}

/*//////////Enjoy These/////////*/
.enjoyThese {
	background: #F5F2E8;
	padding: 100px;
}

	.enjoyThese h1 {
		color: #777777;
		text-transform: uppercase;
		text-align: center;
		font-size: 30px;
		padding-bottom: 10px;
	}

	.enjoyThese h1:after {
		content: "";
	    display: block;
	    background: #A5A5A5;
	    width: 110px;
	    height: 10px;
	    margin: 0 auto;
	    margin-top: 15px;
	}

	.newappsSort {
		max-width: 785px;
		margin: 0 auto;
		cursor: pointer;
	}

	.newappsSort ul li {
		text-align: center;
		padding: 10px;
		color: white;
		letter-spacing: 2px;
		display: inline-block;
		width: 25%;
		float: left;
	}

	.newappsSort ul li .inner {
		font-weight: 700;
		font-size: 13px;
		border-radius: 10px;
		padding: 10px;
	}

/*//////Hidden Colorbox Info//////*/
.colorBoxHidden {
	display: none;
}

.inline_content {
/*	max-width: 500px;
*/	padding: 10px;
	margin: 0 auto;
}

.image {
	width: 186px;
	float: left;
}

.inline-copy {
	padding-left: 30px;
	width: 55%;
	float: left;
}

.inline-copy h1{
	font-size: 24px;
}

.inline-copy span {
	font-weight: 700;
	text-transform: uppercase;
	font-size: 13px;
}

.inline-copy a {
	background: #FF8127;
	text-decoration: none;
	padding: 10px;
	color: #fff;
	border-radius: 5px;
}

.inline-copy a:hover {
	background: #5D658D;
}

	.inline-copy h1:after {
		content: "";
		display: block;
		background: #A5A5A5;
		width: 110px;
		height: 10px;
		margin-top: 10px;
	}

.inline-copy p {
	font-size: 16px;
}


/*//////Hidden Colorbox Info END//////*/ 


/*// Mix it Up//*/

.appContainer .mix {
	display: none;
}


	.active .inner {
		background: #5D658D;
		color: #FFF;
	}

/*//Footer//*/

footer {
	color: #fff;
	background: #5D658D;
}

	
	footer ol {
		padding-left: 20px;
	}

	footer ol a{
		text-decoration: none;
		color: #fff;
		line-height: 34px;
	}
		
	
	footer p a {
		text-decoration: none;
		font-weight: 700;
		color: #fff;
		padding-bottom: 8px;
	}

	footer p {
		text-align: center;
		margin-top: 75px;
	}

	.sources {
			padding: 30px;
			overflow-wrap: break-word;
	}

	.sources h1 {
		text-align: center;
		font-size: 25px;
		padding-bottom: 10px;
	}

	.sources ol {
		font-size: 14px;
	}

	.sources span {
		font-weight: 700;
	}

/*///////MEDIA QUERIES///////*/
@media only screen and (max-width: 970px)  {

	.ipad {
		width: 400px;
	}

		.ipad .inner h1 {
			font-size: 50px;
			line-height: 60px;
		}

		.ipad .inner p {
			font-size: 15px;
		}

	.additionals ul li {
		width: 50%;
		float: left;
	}

	.appHeroes {
		margin: 0 auto;
	}

	.appHeroes .wrapper {
		float: none;
		width: 90%;
		padding: 0;
		margin-bottom: 50px;
	}

	.appHeroes img {
		float: none;
	}

}

@media only screen and (max-width: 840px) {
	
	.ipad {
		width: 400px;
	}

		.ipad .inner h1 {
			font-size: 50px;
			line-height: 60px;
		}


	.statBox {
		width: 100%;
	}

		.statBox .inner h2 {
			font-size: 24px;
			margin: 0;
			padding: 10px;
		}

		.statBox .inner p {
			font-size: 36px;
			margin: 0;
			padding: 5px;
		}

		#menu-toggle a {
			font-size: 24px;
		}

		.inline-copy, .image {
			float: none;
		}
		
		.inline-copy {
			padding-left: 0;
			width: 100%;
		}

}

@media only screen and (max-width: 690px)  {

	.appHeroes h2 {
	    font-size: 24px;
	}

	.newappsSort ul li, .popappsSort ul li {
		width: 50%;
		float: left;
	}
	
	.appThumb {				
		width: 50%;
	}

	.appContainer {
		margin: 0 auto;
	}

}

@media only screen and (max-width: 569px)  {

		/*.inline {
			width: 50%;
		}*/

		.appContainer .mix {
			display: block;
		}

		.inline-copy {
			float: left;
		}

		.newappsSort ul li, .popappsSort ul li {
			width: 100%;
			float: left;
		}

		.ipad {
			background: none;			
			margin-top: 3%;
			margin-right: 25px;
			width: 100%;
		}

		.ipad .inner h1 {
			font-size: 45px;
		    line-height: 60px;
		    padding-top: 15px;
	    	padding-bottom: 0;
	    	padding-left: 0;
	    	margin-left: 0;
		}

		.ipad .inner p {
			font-size: 16px;
			padding-top: 20px;
	    	padding-left: 0;	
	    	padding-bottom: 0;
	    	padding-right: 50px;
		}

		.downArrow a{
			color: #777;
		}


	.appHeroes {
		padding: 50px;
	}

	.appHeroes h1{
		font-size: 24px;
		padding-bottom: 50px;
	}

	.appHeroes h2 {
		font-size: 21px;
	}

	.popappsSection, .enjoyThese {
		padding: 50px;
	}

	.popappsSection h1, .enjoyThese h1 {
		font-size: 25px;
	}

	.popappsSection p, .enjoyThese p {
		font-size: 16px;
	}

	.popappsSort ul li {
		width: 100%;
		float: none;
	}


	.filter{
		display: none;
	}

	.inline_content img {
		width: 100%;
	}

	.appThumb {				
		width: 50%;
	}

	.stats {
		padding: 50px;
	}

	.stats h1 {
		font-size: 24px;
	}

	.stats .wrapper span {
		font-size: 21px;
	}

	footer {
		font-size: 13px;
	}

	footer ol a {
		line-height: 24px;
	}

}

@media only screen and (max-width: 400px) {


	.downArrow {
		margin-top: 15px;
	}

	.inline_content img {
		width: 75%;
	}

	.inline-copy {
		font-size: 13px;
	}

	.inline-copy a {
		font-size: 13px;
	}

	.additionals ul li {
		font-size: 13px;
	}

}

@media only screen and (max-width: 320px) {

	.inline-copy p {
		font-size: 13px;
	}

	.inline-copy a {
		font-size: 13px;
	}
}

@media only screen and (max-height: 480px) {

	.downArrow {
			display: none;
		}
}