/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Work Sans', sans-serif;
}

ul {
	margin: 0;
	padding: 0;
}

h1 {
	
}

.popappsSection .row {
	margin: 0 -10px;
}

.enjoyThese .row {
	margin: 0 -10px;
}


.container {
	max-width: 960px;
	width: 100%;
	margin: 0 auto;
}

.hero {
	height: 760px;
	background: url('../img/herobackground.png');
	background-size: cover;
}

	.hero .container {
		padding: 50px;
	}

.ipad{
	background: url('../img/ipad.png');
	background-repeat: no-repeat;
	background-size: cover;
	height: 561px;
	max-width: 437px;
	margin: 0 auto;
}

.ipad .inner {
	max-width: 561px;
	width: 100%;
}

	.ipad .inner h1 {
	    font-size: 55px;
	    margin: 0 auto;
	    margin-right: 90px;
	    padding-top: 70px;
	    padding-left: 90px;
	    line-height: 70px;
	    text-transform: uppercase;
	    color: #777777;
	}
		
		.downArrow {
			font-size: 70px;
			text-align: center;
			margin-top: 30px;
		}

		.downArrow a {
			color: white;
		}

	.ipad .inner h1:after {
	    content: "";
		display: block;
		background: #A5A5A5;
		width: 110px;
		height: 10px;
		margin-top: 10px;
	}

	.ipad .inner p {
		margin: 0 auto;
		padding-left: 90px;
		padding-right: 80px;
		padding-top: 25px;
		font-size: 18px;
	}

.nav {
	background: #5D658D;
	text-align: center;
	z-index: 1000;
}

	.nav ul li {
		display: inline-block;
		padding: 25px;
	}

	.nav ul li a {
		text-decoration: none;
		font-weight: 700;
		color: #fff;
	}

.popappsSection {
	background: #F5F2E8;
	padding: 100px;
}

.popappsSection h1 {
	color: #777777;
	text-transform: uppercase;
	text-align: center;
	font-size: 30px;
	padding-bottom: 10px;
}

.popappsSection h1:after {
	content: "";
	display: block;
	background: #A5A5A5;
	width: 110px;
	height: 10px;
	margin: 0 auto;
	margin-top: 15px;
}

.popappsSort {
	max-width: 785px;
	margin: 0 auto;
}

.popappsSort ul li {
	text-align: center;
	padding: 10px;
	color: white;
	letter-spacing: 2px;
	display: inline-block;
	width: 25%;
	float: left;
}

.popappsSort ul li .inner {
	font-weight: 700;
	font-size: 13px;
	border-radius: 10px;
	padding: 10px;
}

.appContainer {
	max-width: 785px;
	min-height: 720px;
	width: 100%;
	margin: 0 auto;
}

.appThumb {				
	margin: 0 auto;
	margin-bottom: 17px;
	padding: 10px;
	float: left;
	width: 25%;
}

.appThumb img {
	max-width: 100%;
}

.orange .inner {
	background: #FF8127;
}

.blue .inner {
	background: #208CF7;
}

.red .inner {
	background: #FE5F5F;
}

.green .inner {
	background: #73D655;
}

.appHeroes {
	background: url('../img/herobackground.png') no-repeat;
	background-size: cover;
	padding: 90px;
}

	.additionals {
		text-transform: uppercase;
		margin-bottom: 100px;
		margin-top: 50px;
	}

	.additionals h2 {
		text-align: center;
		color: #777777;
	}

	.additionals a {
		text-decoration: none;
		color: white;
	}

/*//////////APP HEROES/////////*/
.appHeroes .wrapper{
	float: left;
	width: 65%;
	padding-bottom: 100px;
	padding-left: 70px;
}

	.appHeroes h1 {
		text-align: center;
		text-transform: uppercase;
		font-size: 30px;
		padding-bottom: 85px;
	}

	.appHeroes h1:after {
		content: "";
	    display: block;
	    background: #A5A5A5;
	    width: 110px;
	    height: 10px;
	    margin: 0 auto;
	    margin-top: 15px;
	}

	.appHeroes h2 {
		font-size: 27px;
	}

		.appHeroes h2:after {
			content: "";
		    display: block;
		    background: #A5A5A5;
		    width: 110px;
		    height: 10px;
		    margin-top: 15px;
		}

	.appHeroes img {
		float: left;
	}

/*////////////////Stats Section///////////////*/
.stats {
	background: url('../img/statsbackground.png');
	background-size: cover;
	padding: 100px;
}


.stats h1 {
	text-align: center;
	text-transform: uppercase;
	font-size: 30px;
	padding-bottom: 18px;
	color: #FFF;
}

	.stats span {
		text-align: center;
	}

	.stats h1:after {
		content: "";
	    display: block;
	    background: #A5A5A5;
	    width: 110px;
	    height: 10px;
	    margin: 0 auto;
	    margin-top: 15px;
	}

	.stats .wrapper {
		text-align: center;
		width: 100%;
	}

		.stats .wrapper span {
			color: white;
			font-size: 24px;
		}


.statBoxWrapper {
	max-width: 730px;
	width: 100%;
	margin: 0 auto;
	margin-top: 65px;
}

.statBox {
	padding: 10px;
	text-align: center;
	color: white;
	width: 50%;
	float: left;
	max-width: 100%;
}


	.statBox .inner {
		font-size: 13px;
		border: 12px solid white;
		border-radius: 10px;
		padding: 50px 0	;
	}

		.statBox .inner h2 {
			font-size: 28px;
			margin: 0;
			padding: 10px;
		}

		.statBox .inner p {
			font-size: 50px;
			margin: 0;
			padding: 5px;
		}
	
	.stats .row {
		margin: 0 -50px;
	}

	.orange .inner {
		background: #FF8127;
	}

	.apple .inner {
		background: #208CF7;
	}

	.amazon .inner {
		background: #FE5F5F;
	}

	.windows .inner {
		background: #73D655;
	}

/*//////////Enjoy These/////////*/
.enjoyThese {
	background: #F5F2E8;
	padding: 100px;
}

	.enjoyThese h1 {
		color: #777777;
		text-transform: uppercase;
		text-align: center;
		font-size: 30px;
		padding-bottom: 10px;
	}

	.enjoyThese h1:after {
		content: "";
	    display: block;
	    background: #A5A5A5;
	    width: 110px;
	    height: 10px;
	    margin: 0 auto;
	    margin-top: 15px;
	}

	.newappsSort {
		max-width: 785px;
		margin: 0 auto;
	}

	.newappsSort ul li {
		text-align: center;
		padding: 10px;
		color: white;
		letter-spacing: 2px;
		display: inline-block;
		width: 25%;
		float: left;
	}

	.newappsSort ul li .inner {
		font-weight: 700;
		font-size: 13px;
		border-radius: 10px;
		padding: 10px;
	}

/*//////Hidden Colorbox Info//////*/

.colorBoxHidden {
	display: none;
}

.inline_content {
	width: 500px;
	padding: 10px;
}

.image {
	width: 50%;
	float: left;
}

.inline-copy {
	margin-top:;
	width: 45%;
	float: left;
}

	.inline-copy h1:after {
		content: "";
		display: block;
		background: #A5A5A5;
		width: 110px;
		height: 10px;
		margin-top: 10px;
	}

/*
#inline_fb
#inline_insta
#inline_mine
#inline_netflix
#inline_quiz
#inline_snap
#inline_sound
#inline_spot
#inline_twitter
#inline_dots
#inline_vine
#inline_yt
*/

/*
#inline_commute
#inline_fabulous
#inline_flipboard
#inline_headspace
#inline_msqrd
#inline_pathtoluma
#inline_periscope
#inline_phhhoto
#inline_plantnanny
#inline_smashhit
#inline_stack
#inline_vsco
*/


/* <a class="inline" href="#inline_fb"> */

/*
.inline-fb {
	padding: 10px;
    background: #ccc;
    border-radius: 10px;
}*/

/*//////Hidden Colorbox Info END//////*/ 


/*// Mix it Up//*/

.appContainer .mix{
	display: none;
}

.appContainer2 .mix{
	display: none;
}

	.active .inner {
		background: #5D658D;
		color: #FFF;
	}

/*//Footer//*/

footer {
	padding: 30px;
	color: #fff;
	background: #5D658D;
}

	
	footer ol {
		padding-left: 20px;
	}

	footer ol a{
		text-decoration: none;
		color: #fff;
		line-height: 34px;
	}
		
	
	footer p a {
		text-decoration: none;
		color: #fff;
		padding-bottom: 8px;
		border-bottom: 5px solid white;
	}

	footer p {
		text-align: center;
		margin-top: 75px;
	}

	.sources span {
		font-weight: 700;
	}

/*///////MEDIA QUERIES///////*/
@media only screen and (max-width: 970px)  {

	.additionals ul li {
		width: 50%;
		float: left;
	}

	.appHeroes {
		margin: 0 auto;
	}

	.appHeroes .wrapper {
		float: none;
		width: 90%;
		padding: 0;
		margin-bottom: 50px;
	}

	.appHeroes img {
		float: none;
	}

	.popappsSection {
		height: 1300px;
	}
}

@media only screen and (max-width: 840px) {
	/*//////////APP HEROES/////////*/
	.statBox {
		width: 100%;
	}

}

@media only screen and (max-width: 690px)  {

	.newappsSort ul li, .popappsSort ul li {
		width: 50%;
		float: left;
	}
	
	.appThumb {				
		width: 50%;
	}

	.popappsSection {
		height: 2100px;
	}

	.appContainer {
		margin: 0 auto;
	}

	.popappsSection {
		height: 3900px;
	}

}


@media only screen and (max-width: 569px)  {


	.newappsSort ul li, .popappsSort ul li {
		width: 100%;
		float: left;
	}

	h1 {
		font-size: 23px;
	}

	.appThumb {				
		width: 100%;
	}
	
}



@media only screen and (max-width: 400px) {
	.popappsSection {
		height: 2400px;
	}
}