/*
 Floating Sections Code-Along

 Make the header red and 100% width
 Main should be yellow and 60% wide
 sideBar should be green and 40% wide
 pageFooter should be blue and 100% width

 */

.pageHeader {
	float: left;
	width: 100%;
}

.content {
	float: left;
	width: 50%;
}

.thumbnail {
	float: left;
	width: 33.33%;
}

.sideBar {
	width: 20%;
	}

.pageFooter {
	float: left;
	width: 100%;
}

 .placeholder {
	padding: 20px;
	margin: 10px;
	background: gray;
	border: 1px solid black;
}

.pageHeader .placeholder, 
.pageFooter .placeholder,
.thumbnail .placeholder {
	height: 80px;
}

.content .placeholder {
	height: 250px;
}